<mat-sidenav-container fxFill>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" class="scrollable">
    <mat-toolbar color="primary" style="min-height:200px" fxLayoutAlign="center center">

    </mat-toolbar>

    <mat-selection-list #shoes [multiple]="false">

      <mat-list-option routerLink="/home" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon color="accent">apps</mat-icon>
        <span>Home</span>
      </mat-list-option>

      <mat-list-option routerLink="/eyes/copypaste" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon color="accent">analytics</mat-icon>
        <span>Copy Paste</span>
      </mat-list-option>


      <mat-list-option routerLink="/eyes/constructorJS" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon color="accent">analytics</mat-icon>
        <span>Construcoter</span>
      </mat-list-option>

      <mat-list-option routerLink="/eyes/loaderJS" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon color="accent">meeting_room</mat-icon>
        <span>Loader JS</span>
      </mat-list-option>

      <mat-list-option routerLink="/eyes/angular" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon color="accent">perm_identity</mat-icon>
        <span>Angular Eyes</span>
      </mat-list-option>

    </mat-selection-list>


  </mat-sidenav>

  <mat-sidenav-content fxFlex fxLayout="column" class="scrollable">


    <mat-toolbar fxFlex="60px"
                 color="primary"
                 fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center" fxLayoutGap="10px">

        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span>Angular Eyes</span>
      </div>
      <div fxLayoutAlign="center center" fxLayoutGap="10px">


      </div>
    </mat-toolbar>

    <div class="mainContainer scrollable" fxFlex>
      <router-outlet></router-outlet>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
<!--
<router-outlet></router-outlet>-->
